* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}


@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reset {
  0%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Container for the loader */
.loader-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circular-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db; 
  border-right: 5px solid #3498db;
  border-left: 5px solid #3498db; 
  border-radius: 50%; 
  animation: spin 1s linear infinite; 
}


 @keyframes spin {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
} 

