.admin-container {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  position: absolute; /* i need to change this */
  display: flex;
  flex-direction: column;
}

.admin-heading span {
  display: inline-block;
  opacity: 0;
  animation: fadein 3s forwards;
}
.admin-heading span:nth-child(1) {
  animation-delay: 0s;
}
.admin-heading span:nth-child(2) {
  animation-delay: 0.1s;
}
.admin-heading span:nth-child(2) {
  animation-delay: 0.2s;
}
.admin-heading span:nth-child(3) {
  animation-delay: 0.3s;
}
.admin-heading span:nth-child(4) {
  animation-delay: 0.4s;
}
.admin-heading span:nth-child(5) {
  animation-delay: 0.5s;
}
.admin-heading span:nth-child(6) {
  animation-delay: 0.6s;
}
.admin-heading span:nth-child(7) {
  animation-delay: 0.7s;
}
.admin-heading span:nth-child(8) {
  animation-delay: 0.8s;
}
.admin-heading span:nth-child(9) {
  animation-delay: 0.9s;
}
.admin-heading span {
  animation: reset 3s infinite;
}
.admin-heading span {
  background: -webkit-linear-gradient(red, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 45px;
}

.admin-heading {
  padding: 3px 30px;
}
.admin-container h3 {
  padding-left: 30px;
  color: gray;
}
@media (max-width: 900px) {
  .admin-heading span {
    font-size: 40px;
  }
  .admin-container h3 {
    font-size: 15px;
  }
}
@media (max-width: 762px) {
  .admin-heading span {
    font-size: 35px;
  }
  .admin-heading {
    padding-left: 10px;
  }
  .admin-container h3 {
    font-size: 13px;
    padding-left: 10px;
  }
}
@media (max-width: 462px) {
  .admin-heading span {
    font-size: 25px;
  }
  .admin-container h3 {
    font-size: 10px;
  }
}
.admin-bottom {
  display: flex;
  width: 100%;
  height: 100%;
  border-top: 3px solid rgb(213, 209, 209);
}

.admin-bottom ul {
  width: 20%;
  padding-top: 3%;
  border-right: 3px solid rgb(213, 209, 209);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.admin-bottom ul li {
  border: 1px solid rgb(213, 209, 209);
  width: 80%;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  cursor: pointer;
  color: gray;
  font-weight: 600;
  font-size: 15px;
}
@media (max-width: 900px) {
  .admin-bottom ul li {
    width: 90%;
    font-size: 12px;
    gap: 15px;
  }
  .admin-bottom ul li img {
    width: 20px;
  }
}
@media (max-width: 672px) {
  .admin-bottom ul li {
    width: 90%;
    font-size: 10px;
    gap: 10px;
  }
  .admin-bottom ul li img {
    width: 15px;
  }
}
@media (max-width: 562px) {
  .admin-bottom ul {
    width: 30%;
  }
  .admin-bottom ul li {
    gap: 5px;
  }
}

.click-panel {
  background-color: rgb(230, 224, 224);
}
.admin-bottom-right {
  padding-top: 3%;
  width: 100%;
  height: 100%;
  
}

.heading-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.home-heading {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  animation: fadeIn 3s;
  display: flex;
  
}

.main-heading span {
  display: inline-block;
  opacity: 0;
  animation: fadein 3s forwards;
}
.main-heading span:nth-child(1) {
  animation-delay: 0s;
}
.main-heading span:nth-child(2) {
  animation-delay: 0.1s;
}
.main-heading span:nth-child(2) {
  animation-delay: 0.2s;
}
.main-heading span:nth-child(3) {
  animation-delay: 0.3s;
}
.main-heading span:nth-child(4) {
  animation-delay: 0.4s;
}
.main-heading span:nth-child(5) {
  animation-delay: 0.5s;
}
.main-heading span:nth-child(6) {
  animation-delay: 0.6s;
}
.main-heading span:nth-child(7) {
  animation-delay: 0.7s;
}
.main-heading span:nth-child(8) {
  animation-delay: 0.8s;
}
.main-heading span:nth-child(9) {
  animation-delay: 0.9s;
}
.main-heading span {
  animation: reset 3s infinite;
}
@media (max-width: 848px) {
  .home-heading {
    font-size: 35px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 593px) {
  .home-heading {
    font-size: 40px;
    flex-wrap: wrap;
  }
}
.home-heading span {
  background: -webkit-linear-gradient(red, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}